LearningCard/LearningCard/Service References/OnlineLearningCardService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LearningCard.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LearningCard.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/learningcard/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Profile">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageSource" nillable="true" type="xs:anyURI" />
      <xs:element minOccurs="0" name="LanguageFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StatisticData" nillable="true" type="q1:ArrayOfKeyValueOfstringArrayOfintty7Ep6D1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profile" nillable="true" type="tns:Profile" />
  <xs:complexType name="ArrayOfProfile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Profile" nillable="true" type="tns:Profile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfile" nillable="true" type="tns:ArrayOfProfile" />
</xs:schema>