LearningCard/LearningCard/Service References/OnlineLearningCardService/OnlineLobbyServiceModel.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OnlineLobbyServiceModel" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/learningcard/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/learningcard/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/learningcard/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LearningCard.Model" />
      <xsd:import schemaLocation="http://localhost:8080/learningcard/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOnlineLobbyServiceModel_JoinToLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinToLobby" />
  </wsdl:message>
  <wsdl:message name="IOnlineLobbyServiceModel_JoinToLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinToLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineLobbyServiceModel_GetActiveUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveUsers" />
  </wsdl:message>
  <wsdl:message name="IOnlineLobbyServiceModel_GetActiveUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineLobbyServiceModel_GetPublicIP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicIP" />
  </wsdl:message>
  <wsdl:message name="IOnlineLobbyServiceModel_GetPublicIP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicIPResponse" />
  </wsdl:message>
  <wsdl:portType name="IOnlineLobbyServiceModel">
    <wsdl:operation name="JoinToLobby">
      <wsdl:input wsam:Action="http://tempuri.org/IOnlineLobbyServiceModel/JoinToLobby" message="tns:IOnlineLobbyServiceModel_JoinToLobby_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IOnlineLobbyServiceModel/JoinToLobbyResponse" message="tns:IOnlineLobbyServiceModel_JoinToLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveUsers">
      <wsdl:input wsam:Action="http://tempuri.org/IOnlineLobbyServiceModel/GetActiveUsers" message="tns:IOnlineLobbyServiceModel_GetActiveUsers_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IOnlineLobbyServiceModel/GetActiveUsersResponse" message="tns:IOnlineLobbyServiceModel_GetActiveUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPublicIP">
      <wsdl:input wsam:Action="http://tempuri.org/IOnlineLobbyServiceModel/GetPublicIP" message="tns:IOnlineLobbyServiceModel_GetPublicIP_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IOnlineLobbyServiceModel/GetPublicIPResponse" message="tns:IOnlineLobbyServiceModel_GetPublicIP_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOnlineLobbyServiceModel" type="tns:IOnlineLobbyServiceModel">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="JoinToLobby">
      <soap:operation soapAction="http://tempuri.org/IOnlineLobbyServiceModel/JoinToLobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveUsers">
      <soap:operation soapAction="http://tempuri.org/IOnlineLobbyServiceModel/GetActiveUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublicIP">
      <soap:operation soapAction="http://tempuri.org/IOnlineLobbyServiceModel/GetPublicIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OnlineLobbyServiceModel">
    <wsdl:port name="BasicHttpBinding_IOnlineLobbyServiceModel" binding="tns:BasicHttpBinding_IOnlineLobbyServiceModel">
      <soap:address location="http://localhost:8080/learningcard/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>