LearningCard/LearningCard/Service References/OnlineLearningCardService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OnlineLobbyServiceModel" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IOnlineLobbyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LearningCard.Model" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOnlineLobbyService_JoinToLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinToLobby" />
  </wsdl:message>
  <wsdl:message name="IOnlineLobbyService_JoinToLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinToLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineLobbyService_NotifyServer_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyServer" />
  </wsdl:message>
  <wsdl:message name="IOnlineLobbyService_GetActiveUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveUsers" />
  </wsdl:message>
  <wsdl:message name="IOnlineLobbyService_GetActiveUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineLobbyService_GetPublicIP_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicIP" />
  </wsdl:message>
  <wsdl:message name="IOnlineLobbyService_GetPublicIP_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicIPResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineLobbyService_BroadcastToClient_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:BroadcastToClient" />
  </wsdl:message>
  <wsdl:portType name="IOnlineLobbyService">
    <wsdl:operation name="JoinToLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineLobbyService/JoinToLobby" message="tns:IOnlineLobbyService_JoinToLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineLobbyService/JoinToLobbyResponse" message="tns:IOnlineLobbyService_JoinToLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineLobbyService/NotifyServer" message="tns:IOnlineLobbyService_NotifyServer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineLobbyService/GetActiveUsers" message="tns:IOnlineLobbyService_GetActiveUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineLobbyService/GetActiveUsersResponse" message="tns:IOnlineLobbyService_GetActiveUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPublicIP">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlineLobbyService/GetPublicIP" message="tns:IOnlineLobbyService_GetPublicIP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineLobbyService/GetPublicIPResponse" message="tns:IOnlineLobbyService_GetPublicIP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BroadcastToClient">
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlineLobbyService/BroadcastToClient" message="tns:IOnlineLobbyService_BroadcastToClient_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IOnlineLobbyService" type="tns:IOnlineLobbyService">
    <wsp:PolicyReference URI="#NetTcpBinding_IOnlineLobbyService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="JoinToLobby">
      <soap12:operation soapAction="http://tempuri.org/IOnlineLobbyService/JoinToLobby" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyServer">
      <soap12:operation soapAction="http://tempuri.org/IOnlineLobbyService/NotifyServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetActiveUsers">
      <soap12:operation soapAction="http://tempuri.org/IOnlineLobbyService/GetActiveUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublicIP">
      <soap12:operation soapAction="http://tempuri.org/IOnlineLobbyService/GetPublicIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BroadcastToClient">
      <soap12:operation soapAction="http://tempuri.org/IOnlineLobbyService/BroadcastToClient" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OnlineLobbyServiceModel">
    <wsdl:port name="NetTcpBinding_IOnlineLobbyService" binding="tns:NetTcpBinding_IOnlineLobbyService">
      <soap12:address location="net.tcp://localhost:8080/learningcard/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/learningcard/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Speeder-A\Speeder</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>