LearningCard/LearningCard/Service References/OnlineLearningCardService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LearningCardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILearningCardService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LearningCardClasses" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILearningCardService_RegisterClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterClient" />
  </wsdl:message>
  <wsdl:message name="ILearningCardService_NotifyServer_InputMessage">
    <wsdl:part name="parameters" element="tns:NotifyServer" />
  </wsdl:message>
  <wsdl:message name="ILearningCardService_GetActivePlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActivePlayers" />
  </wsdl:message>
  <wsdl:message name="ILearningCardService_GetActivePlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActivePlayersResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningCardService_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="ILearningCardService_SetVisibleDeckName_InputMessage">
    <wsdl:part name="parameters" element="tns:SetVisibleDeckName" />
  </wsdl:message>
  <wsdl:message name="ILearningCardService_GetVisibleDeckName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisibleDeckName" />
  </wsdl:message>
  <wsdl:message name="ILearningCardService_GetVisibleDeckName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisibleDeckNameResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningCardService_GetServerDeck_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerDeck" />
  </wsdl:message>
  <wsdl:message name="ILearningCardService_GetServerDeck_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerDeckResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningCardService_SendAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAnswer" />
  </wsdl:message>
  <wsdl:message name="ILearningCardService_GetCard_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCard" />
  </wsdl:message>
  <wsdl:message name="ILearningCardService_GetCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCardResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningCardService_GetScoreBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScoreBoard" />
  </wsdl:message>
  <wsdl:message name="ILearningCardService_GetScoreBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScoreBoardResponse" />
  </wsdl:message>
  <wsdl:message name="ILearningCardService_BroadcastToClient_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:BroadcastToClient" />
  </wsdl:message>
  <wsdl:portType name="ILearningCardService">
    <wsdl:operation name="RegisterClient">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningCardService/RegisterClient" message="tns:ILearningCardService_RegisterClient_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyServer">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningCardService/NotifyServer" message="tns:ILearningCardService_NotifyServer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActivePlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningCardService/GetActivePlayers" message="tns:ILearningCardService_GetActivePlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningCardService/GetActivePlayersResponse" message="tns:ILearningCardService_GetActivePlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningCardService/StartGame" message="tns:ILearningCardService_StartGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetVisibleDeckName">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningCardService/SetVisibleDeckName" message="tns:ILearningCardService_SetVisibleDeckName_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisibleDeckName">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningCardService/GetVisibleDeckName" message="tns:ILearningCardService_GetVisibleDeckName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningCardService/GetVisibleDeckNameResponse" message="tns:ILearningCardService_GetVisibleDeckName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerDeck">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningCardService/GetServerDeck" message="tns:ILearningCardService_GetServerDeck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningCardService/GetServerDeckResponse" message="tns:ILearningCardService_GetServerDeck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningCardService/SendAnswer" message="tns:ILearningCardService_SendAnswer_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCard">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningCardService/GetCard" message="tns:ILearningCardService_GetCard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningCardService/GetCardResponse" message="tns:ILearningCardService_GetCard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScoreBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/ILearningCardService/GetScoreBoard" message="tns:ILearningCardService_GetScoreBoard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningCardService/GetScoreBoardResponse" message="tns:ILearningCardService_GetScoreBoard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BroadcastToClient">
      <wsdl:output wsaw:Action="http://tempuri.org/ILearningCardService/BroadcastToClient" message="tns:ILearningCardService_BroadcastToClient_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILearningCardService" type="tns:ILearningCardService">
    <wsp:PolicyReference URI="#NetTcpBinding_ILearningCardService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterClient">
      <soap12:operation soapAction="http://tempuri.org/ILearningCardService/RegisterClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotifyServer">
      <soap12:operation soapAction="http://tempuri.org/ILearningCardService/NotifyServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetActivePlayers">
      <soap12:operation soapAction="http://tempuri.org/ILearningCardService/GetActivePlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartGame">
      <soap12:operation soapAction="http://tempuri.org/ILearningCardService/StartGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SetVisibleDeckName">
      <soap12:operation soapAction="http://tempuri.org/ILearningCardService/SetVisibleDeckName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetVisibleDeckName">
      <soap12:operation soapAction="http://tempuri.org/ILearningCardService/GetVisibleDeckName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerDeck">
      <soap12:operation soapAction="http://tempuri.org/ILearningCardService/GetServerDeck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAnswer">
      <soap12:operation soapAction="http://tempuri.org/ILearningCardService/SendAnswer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetCard">
      <soap12:operation soapAction="http://tempuri.org/ILearningCardService/GetCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScoreBoard">
      <soap12:operation soapAction="http://tempuri.org/ILearningCardService/GetScoreBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BroadcastToClient">
      <soap12:operation soapAction="http://tempuri.org/ILearningCardService/BroadcastToClient" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LearningCardService">
    <wsdl:port name="NetTcpBinding_ILearningCardService" binding="tns:NetTcpBinding_ILearningCardService">
      <soap12:address location="net.tcp://localhost:8080/LearningCardService/Service1/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/LearningCardService/Service1/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>Speeder-A\Speeder</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>