LearningCard/LearningCard/Service References/OnlineLearningCardService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LearningCardClasses" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LearningCardClasses" minOccurs="0" name="eventData" nillable="true" type="q1:EventDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivePlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivePlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetActivePlayersResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LearningCardClasses" minOccurs="0" name="cp" nillable="true" type="q3:CardPack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisibleDeckName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisibleDeckName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisibleDeckNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVisibleDeckNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerDeck">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerDeckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LearningCardClasses" minOccurs="0" name="GetServerDeckResult" nillable="true" type="q4:CardPack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsRight" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCard">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LearningCardClasses" minOccurs="0" name="GetCardResult" nillable="true" type="q5:Card" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoreBoard">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoreBoardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetScoreBoardResult" nillable="true" type="q6:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BroadcastToClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LearningCardClasses" minOccurs="0" name="eventData" nillable="true" type="q7:EventDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>